<?php include "header.html"; ?>

<div class="wrap">

    <div class="contents" ng-controller="loginController">

        <div class="login">

            <h3 class="ui header">工数管理システム ログイン</h3>

            <form class="ui form" name="login_form" ng-submit="onsubmit()" novalidate>


                <div class="ui positive message" ng-bind="message" ng-if="message_flg"></div>

                <div class="field">
                    <label class="label">メールアドレス</label>
                    <input class="input" type="text" name="email" ng-model="email" required>
                </div>
                <div class="ui error message" ng-if="email_flg">
                    <p>メールアドレスを入力してください</p>
                </div>


                <div class="field">
                    <label class="label">パスワード</label>
                    <input class="input" type="password" name="password" ng-model="password" required>
                </div>
                <div class="ui error message" ng-if="password_flg">
                    <p>パスワードを入力してください</p>
                </div>

                <button class="fluid ui button">送信</button>

            </form>

        </div>

    </div>

</div>
	
<?php include "footer.html"; ?>


