<?php include "header.html"; ?>

<div class="wrap" ng-controller="baseController">

    <div class="contents" ng-controller="topController">

        <div class="top">

            <div class="ui grid">
                <div class="three wide column">
                </div>
                <div class="ten wide column">
                    <h2 class="title is-4 center">工数管理システム</h2>
                    <p class="center" ng-bind="user.name"></p>
                </div>
                <div class="three wide column">
                    <a class="ui button" ng-click="logout()"><i class="sign out icon"></i></a>
                </div>
            </div>

            <div>

                <form class="ui form" name="top_form" ng-submit="onsubmit()" novalidate>
                    <div class="field">
                        <label>登録日</label>
                        <input class="datetimepicker" type="text" name="regist_date" ng-model="regist_date">
                    </div>
                </form>

            </div>

            <div style="margin-top:20px">
                <form class="ui form" ng-submit="submit_worklog()" novalidate>
                <table class="ui celled  table">
                    <thead>
                        <tr>
                            <th>プロジェクト名</th>
                            <th style="width:130px">作業種類</th>
                            <th style="width:100px">工数（分）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="worklog in worklogs">
                            <td class="field"><input type='text' ng-model="worklog.project_name"></td>
                            <td class="field"><select ng-model="worklog.type" ng-options="t.name as t.value for t in worklog_types"></select></td>
                            <td class="field"><input type='text' ng-model="worklog.work_time"></td>
                            <td>
                                <a class='mini ui button' ng-if="!$last" ng-click='del_row($index)'>削除</a>
                                <a class='mini ui button' ng-if="$last" ng-click='add_row($index)'>追加</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class='fluid ui button'>送信</button>

                </form>
            </div>

<div>
{{worklogs}}
</div>

        </div>

    </div>

</div>
	

<link rel="stylesheet" media="all" type="text/css" href="/js/datetimepicker/jquery.datetimepicker.css" />
<script src="/js/datetimepicker/jquery.datetimepicker.js"></script>
<script type="text/javascript">
    $(function() {
        // カレンダー選択js
        var week = ['日','月','火','水','木','金','土'];
        var month = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
        $('.datetimepicker').datetimepicker({
            lang: 'ja',
            mouseWheel: false,
            inverseMouseWheel: false,
            scrollInput: false,
            i18n:{
                 ja:{
                    months:month,
                    dayOfWeek:week
                 }
            },
            closeOnDateSelect:true,
            timepicker:false,
            format: 'Y-m-d',
        });
    });
</script>

<?php include "footer.html"; ?>
