<?php include "header.html"; ?>

<div class="wrap" ng-controller="baseController">

    <div class="contents" ng-controller="topController">

        <div class="top">

            <div class="columns">
                <div class="column is-2">
                </div>
                <div class="column">
                    <h2 class="title is-4 center">工数管理システム</h2>
                    <p class="center">
                        {{user.name}}
                    </p>
                </div>
                <div class="column is-2">
                    <p class="right">
                        <button class="button" ng-click="logout()"><span class="icon is-small"><i class="fa fa-sign-out"></i></span></button>
                    </p>
                </div>
<!--
                <div class="column">
                    <p class="right">
                        <span><button class="button" ng-click="logout()">ログアウト</button></span>
                    </p>
                </div>
-->
            </div>

            <form name="top_form" ng-submit="onsubmit()" novalidate>

                <label class="label">登録日</label>
                <div class="control is-grouped">
                    <p class="control is-expanded">
                        <input class="input datetimepicker" type="text" name="regist_date" ng-model="regist_date">
                    </p>
<!--
                    <p class="control">
                        <button class="button is-info">送信</button>
                    </p>
-->
                </div>

            </form>


        </div>

    </div>

</div>
	

<link rel="stylesheet" media="all" type="text/css" href="/js/datetimepicker/jquery.datetimepicker.css" />
<script src="/js/datetimepicker/jquery.datetimepicker.js"></script>
<script type="text/javascript">
    $(function() {
        // カレンダー選択js
        var week = ['日','月','火','水','木','金','土'];
        var month = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
        $('.datetimepicker').datetimepicker({
            lang: 'ja',
            mouseWheel: false,
            inverseMouseWheel: false,
            scrollInput: false,
            i18n:{
                 ja:{
                    months:month,
                    dayOfWeek:week
                 }
            },
            closeOnDateSelect:true,
            timepicker:false,
            format: 'Y-m-d',
            onSelectDate:function(ct,$i) {
                 console.log(ct.dateFormat('Y/m/d'));
            }
        });
    });
</script>

<?php include "footer.html"; ?>
